# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extra files
benchmark/test_scripts/test.R
vaast.py

# Build directories
/cmake-build-debug/
/cmake-build-release/
/cmake/

# IDE Directories
.idea

# macOS
.DS_Store

/db/
matrix2hdf5.cpp
/test_s1/test.vaast
/test_s1/
/test_s2/
/test_ACC/
/test.vaast/
/test.sim/
/test.lin.sim/
/.Rhistory

statistics/nuts.cpp
statistics/nuts.hpp
bernoulli.R
/testOV/
/test_Roger/
/venv/
/runtime_debug/
/benchmark/test_scripts/test_glm.R
/valgrind_notes
/test.100k/
/ibd_alg.R
/Asan.supp
/tools/vcf2matrix/test/
/tools/vcf2matrix/cmake-build-release/
/tools/vcf2matrix/cmake-build-debug/
/test-sim/
/carva.img.tar.gz
/cmake-build-debug-remote-host/
/cmake-build-release-remote-host/
/bak/
/cmake-build-debug-system/CMakeFiles/clion-log.txt
/cmake-build-release-system/CMakeFiles/clion-log.txt
/cmake-build-debug-system/
/cmake-build-release-system/
/R_test/
/cmake-build-relwithdebinfo/
/filter/filter_whitelist_test.csv
/build/