# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extra files
test.R
vaast.py

# Build directories
/cmake-build-debug/
/cmake-build-release/
/cmake/

# IDE Directories
.idea

# macOS
.DS_Store

/db/
matrix2hdf5.cpp
/test_s1/test.vaast
/test_s1/
/test_s2/
/test_ACC/
/test.vaast/
/test.sim/
/test.lin.sim/
